* {
  padding: 0;
  margin: 1;
  background: black;
  color: white;
  box-sizing: border-box;
}

.toggle-button {
  background: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}
.toggle-menu {
  display: none;
}
.toggle-menu ul{
  list-style: none;
}

.toggle-menu li {
  text-align: center;
  border-top: 1px solid #1e1e1e;
}

.toggle-menu a {
  text-decoration: none;
  color: white;
  background: black;
  display: block;
  padding: 10px 0;
}




#popup {
  display: none;
}

.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 300px auto;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}

.popup__title {
  font-size: 26px;
  margin-bottom: 15px;
}
